{% extends 'base.html' %}
{% block title %}
    Add Workout
{% endblock title %}

{% if errors %}
    {{errors}}
{% endif %}

{% block content %}
<a href="{{url_for('addAltWorkout')}}">Track alternate workout</a>
<h1>Track Workout</h1>

    <form id="workout-form" action="/add-workout" method="post">
        <input type="hidden" name="type" value="weights">

        <div id="info-section" class="form-section">
            <label for="date">Date:</label>
            <input type="datetime-local" name="date" id="date" required>
        
            <label for="name">Workout name:</label>
            <input type="text" name="workout-name" id="workout-name" required>
        
            <label for="category">Category</label>
            <select name="category" id="workout-category">
                <option value="chest">Chest</option>
                <option value="back">Back</option>
                <option value="shoulders">Shoulders</option>
                <option value="core">Core</option>
                <option value="arms">Arms</option>
                <option value="push">Push</option>
                <option value="pull">Pull</option>
                <option value="legs">Legs</option>
                <option value="mixed">Mixed</option>
            </select>
        </div>

        <div id="movements-section" class="form-section">
            <!-- the wrapper for the movments. filled mainly by javascript -->
            <div class="" id="movements-wrapper">

            </div>

            <h3 class="section-title">Exercises:</h3>
            
            <label for="movement">Exercise Name: </label>
            <input type="text" class="movement-input" id="movement" maxlength="20" minlength="3" size="12">
            <label for="weight-format">Weight format:</label>
            <select name="weight-format" id="weight-format" class="movement-input" >
                <option value="kg">kg</option>
                <option value="lb">lb</option>
                <option value="bw">BW</option>
            </select>

            <button id="add_movementbutton">Add</button>
            <span id="warning"></span>
            <br>

        </div>

        <div class="form-section">

            <label for="effort">Effort: </label>
            <select name="effort" id="workout-effort" class="movement-input">
                <option value="easy">Easy</option>
                <option value="medium">Medium</option>
                <option value="hard">Hard</option>
                <option value="too_hard">Too hard</option>
            </select>
            <br>
            <input type="submit" value="Submit">
        </div>
    
    </form>
    <hr>

    <div id="rest-timer-wrapper">
        <button id="timer-show" style="border: none; background: none; cursor: pointer;">
            Rest timer
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path id="arrow-path" d="M18 15l-6-6-6 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
        <div id="rest-timer">

            <!-- <span id="">Rest timer</span> -->
            <span id="timer-display">0</span>
            <!-- <button >Start</button> -->
            <img id="rest-timer-start" src="{{ url_for('static', filename='icons/startTimer.svg') }}" width="70px" alt="" srcset="">
            <img id="rest-timer-reset" src="{{ url_for('static', filename='icons/resetTimer.svg') }}" width="70px" alt="" srcset="">
        </div>
    </div>

    <div id="pastworkouts-wrapper">
        Past workouts
        <button id="pw-show">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path id="pw-arrow-path" d="M6 9l6 6 6-6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
        </button>

        <div id="pastworkouts">
            {% for workout in pastWorkouts %}
            <div class="workout">
        
                <span class="workout-day">{{workout.dateTime.strftime('%A')}}
                    <span class="workout-date">({{workout.dateTime.strftime('%d/%m/%y')}})</span>
                </span>
        
                <span class="workout-name">{{workout.name|capitalize}} </span>
                 
                {% if workout.zippedSets %}
                    <div class="sets-wrapper">
        
                        {% for set in workout.zippedSets %}
                        <div class="set">
                            <span class="movement-name">{{set[0]}}</span>
                            <br>
                            {% for reps in set[1] %}
                            <span class="reps">
                                {% if reps[0] == "BW" %}
                                    {{reps[0]}} for {{reps[1]}} reps
                                {% else %}
                                    {{reps[0]}}kg for {{reps[1]}} reps
                                {% endif %}
                                {#this puts the "|" delimeter apart from the last iteration#}
                                {% if loop.last %}   
                                {% else %}
                                |
                                {% endif %}    
        
                            </span>
                            {% endfor %}
                            <br>
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
        
                {% if workout.duration %}
                    {{workout.duration}} minutes
                {% endif %}
                <hr>
            </div>
                
            {% endfor %}
        </div>
    </div>


        <!-- <button >Reset</button> -->


{% endblock  %}

{% block scripts %}
<script>

    const now = new Date();
    const localISOTime = now.toISOString().slice(0,16); // YYYY-MM-DDTHH:MM
    let dateInput = document.getElementById("date")
    dateInput.value = localISOTime;

    let movementsList = []

    let weightCount = 0;

    let movements = 0;
    // i may need some sort of state for the count of movements and reps&sets 
    let movementsWrapper = document.getElementById("movements-wrapper")

    let movementNameInput = document.getElementById("movement")

    //let repssetsWrapper = document.getElementById("repsSets-wrapper")
    
    let addMovementButton = document.getElementById("add_movementbutton")

    let weightFormat = document.getElementById("weight-format")

    var timerShowButton = document.getElementById("timer-show")
    var closeTimer = document.getElementById("rest-close")
    var timerDialog = document.getElementById("timer-dialog")

    var startTimer = document.getElementById("start-timer")
    var endTimer = document.getElementById("end-timer")
   // var pauseTimer = document.getElementById("pause-timer")

    var timerSelect = document.getElementById("rest-duration-select")
    var timerDisplay = document.getElementById("rest-timer-display")

    //new timer 
    var restDisplay = document.getElementById("timer-display")
    var timerStart = document.getElementById("rest-timer-start")
    var timerReset = document.getElementById("rest-timer-reset")

    addMovementButton.addEventListener("click",function(e){
        event.preventDefault()

        let movementName = movementNameInput.value.trim()
        console.log(movementName)
        if(movementName != ""){

            //check for the  name in the list 
            if(!movementsList.includes(movementName)){
                //add it to list if it doesnt exist 
                movementsList.push(movementName)
                addMovement(movementName)
            }else{
                displayWarning("Name already taken")
                setTimeout(()=>{
                    displayWarning("")
                },2000)
                return
            }  
            
        }else{
            displayWarning("Name cant be blank")
            setTimeout(()=>{
                displayWarning("")
            },2000)
            return
        }

        movementNameInput.value = ""


    })


    function addMovement(name){

        movements = movements +1

        //div to hold the top elements 
        let controlsDiv = document.createElement("div")
        controlsDiv.classList.add("movement-controls")

        //create the new form element 
        //add it to the workout form as a child 
        let nameLabel = document.createElement("input")
        nameLabel.setAttribute("name","movement")
        nameLabel.id = name
        nameLabel.value = name
        nameLabel.className = "movement-input"
        nameLabel.classList.add("movement-name-label")
        nameLabel.classList.add("readonly-input")
        nameLabel.readOnly = true
        nameLabel.size = 10

        // a div for it all to go into 
        let setsWrapper = document.createElement("div")
        setsWrapper.id = "sets-wrapper"

        //add exercise name to top oif sets 
        ensureSetHeader(setsWrapper,name+"-sets-wrapper",name)

        //add reps button
        let addSetsbutton = document.createElement("button")
        addSetsbutton.innerHTML = "Add set"
        addSetsbutton.id = "addsetbutton"
        addSetsbutton.className = "movement-input"
        

        let removeMovementButton = document.createElement("button")
        removeMovementButton.innerHTML = "X"
        removeMovementButton.className = "movement-input"

        //div for the movements
        let movementWrapper = document.createElement("div")
        movementWrapper.id = name
        movementWrapper.className = "movement-wrapper"


        controlsDiv.appendChild(nameLabel)
        controlsDiv.appendChild(addSetsbutton)
        controlsDiv.appendChild(removeMovementButton)

        movementWrapper.append(controlsDiv)

        movementWrapper.append(document.createElement("br"))
        movementWrapper.prepend(setsWrapper)

        ensureHeader(movementsWrapper)
        movementsWrapper.append(movementWrapper)

        //make sure the input isnt blank so i can pass the movement name onto the sets id
        addSetsbutton.addEventListener("click",function(e){
            event.preventDefault()
            addrepsandsets(setsWrapper,name)                
        })

        removeMovementButton.addEventListener("click",function(e){
            console.log("Remove set button = ",event.target.parentElement.parentElement)
            event.target.parentElement.parentElement.remove()
            //remove from the namesList 
            // cant remember why i added this. probably going to create UI from state ? 
            let index = movementsList.indexOf(event.target.parentElement.parentElement.id)

            if(index > -1){
                movementsList.splice(index,1)
            }
            console.log(movementsList)

        })

        
    }

    function addrepsandsets(wrapper,movementName){

        console.log(movementName)
        weightCount = weightCount + 1

        let exerciseName = document.createElement("span")
        exerciseName.innerText = movementName
        //create the new form element 
        //add it to the workout form as a child 
        let weightLabel = document.createElement("label")
        weightLabel.setAttribute("name","Weight:")
        weightLabel.innerText = "Weight:"

        let repsLabel = document.createElement("label")
        repsLabel.setAttribute("name","Reps:")
        repsLabel.innerText = "Reps:"

        let weightInput = document.createElement("input")
        let repsInput = document.createElement("input")
    
        weightInput.name = movementName + "_weight"
        weightInput.className = "setinput"
        //check weight format
        if(weightFormat.value == "bw"){
            weightInput.type = "text"
            weightInput.value = "BW"
            weightInput.classList.add("readonly-input")
            weightInput.readOnly = true
        }else{
            //weightInput.name = movementName + "_weight"
            weightInput.type = "number"
            weightInput.placeholder = weightFormat.value
            weightInput.required = true
            //set step ? 
            weightInput.step = "0.1"
            weightInput.min = 0

            //weightInput.className = "setinput"
        }
       

        repsInput.name = movementName +"_reps"
        repsInput.type = "number"
        repsInput.placeholder = "Reps"
        repsInput.required = true 
        repsInput.className = "setinput" //this might be an issue with the next word
        repsInput.enterKeyHint = "Next"
        //repsInput.setAttribute("enterkeyhint","AAH")
        repsInput.min = 1

        //remove button 
        let removeSetButton = document.createElement("button")
        removeSetButton.innerHTML = "X"
        removeSetButton.id = "delete-set-button"

        // a div for it all to go into 
        let setWrapper = document.createElement("div")
        setWrapper.id = "set-wrapper"
        //think this should be a class identifier not an id 
        
        setWrapper.appendChild(weightLabel)
        setWrapper.appendChild(weightInput)
        setWrapper.appendChild(repsLabel)
        setWrapper.appendChild(repsInput)
        setWrapper.appendChild(removeSetButton)
        //setWrapper.appendChild(document.createElement("br"))

        wrapper.append(setWrapper)

        weightInput.focus()

        weightInput.addEventListener('keydown',function(e){
            if(e.key == "Escape"){
                event.target.parentElement.remove()
            }
        })

        repsInput.addEventListener('keydown',function(e){
            
            //console.log(e.key)
            if(e.keyCode == 9){
                event.preventDefault()

            }else if(e.key == "Enter"){
                event.preventDefault()
            
                let parentElement = this.parentElement.parentElement
                console.log(this.parentElement.parentElement)
                //addSetButton.getElementById("addsetbutton").focus()
                addrepsandsets(parentElement,movementName)
                
            }else if(e.key == "Escape"){
                event.target.parentElement.remove()
            }else{
                this.innerText = e.key
            }
        })

        removeSetButton.addEventListener("click",function(e){
            event.preventDefault()
            event.target.parentElement.remove()
        })

    }

    function ensureHeader(container) {
        if (!document.getElementById('sets-header')) {
            const header = document.createElement('h4');
            header.id = 'sets-header';
            header.textContent = 'Sets :';
            container.prepend(header);
        }
    }

    function ensureSetHeader(container,header_id,exerciseName) {
        if (!document.getElementById(header_id)) {
            const header = document.createElement('span');
            header.classList.add("exercise-sets-title")
            header.id = header_id;
            header.textContent = exerciseName;
            container.prepend(header);
        }
    }

    function displayWarning(message){
        let warningText = document.getElementById("warning")
        warningText.innerText = message
    }


    //new timer

    var startTimerIcon = "{{ url_for('static', filename='icons/startTimer.svg') }}"
    var pauseTimerIcon = "{{ url_for('static', filename='icons/pauseTimer.svg') }}"
   
    let timerInterval2;
    let isPaused2 = false;
    var timeRested = 0
    timerStart.addEventListener("click",function(e){
        //let restTime = timerSelect.value * 60
        let timeLimit = 300
        function countDown(){
            if(timeRested < timeLimit ){
                //restTime -= 1
                timeRested += 1
                console.log("Timer time = ",timeRested)
                restDisplay.innerText = timeRested
            }else{
                clearInterval(timerInterval2)
                timerInterval2 = undefined
                timeRested = 0
                console.log("Timer finished")
                changeButtonDisplay(e.target,"Start")
                e.target.src = startTimerIcon
            }
        }

        function startCountdown(){
            timerInterval2 = setInterval(countDown,1000)
        }

        //if its defined then its already started 
        if(timerInterval2){
            if(isPaused2){
                //chenge the 
                timerInterval2 = setInterval(countDown,1000)
                isPaused2 = false;
                changeButtonDisplay(e.target,"Pause")
                e.target.src = pauseTimerIcon
            }else{
                //pause the timer
                clearInterval(timerInterval2)
                isPaused2 = true
                changeButtonDisplay(e.target,"Start")
                e.target.src = startTimerIcon
            }
            
        }else{
            startCountdown()
            changeButtonDisplay(e.target,"Pause")
            e.target.src = pauseTimerIcon
        }
    })

    timerReset.addEventListener("click",function(e){
        if(timerInterval2){
            clearInterval(timerInterval2)
            //clear the time display 
            restDisplay.innerText = "0"
            timeRested = 0
            isPaused2 = false
            changeButtonDisplay(timerStart,"Start")
            timerInterval2 = undefined
            timerStart.src = startTimerIcon
        }
    })


    //rest timer 
    timerDisplayed = false
    let restTimer = document.getElementById("rest-timer")
    let restArrow = document.getElementById("arrow-path")
    //past workouts
    let pastWorkoutShowButton = document.getElementById("pw-show")
    let pastWorkouts = document.getElementById("pastworkouts")
    let pastWorkoutArrow = document.getElementById("pw-arrow-path")

    timerShowButton.addEventListener("click", function(e){
        console.log("event ",e.target)
        //show the timer 
        if(timerDisplayed){
            restTimer.style.display = "None"
            timerDisplayed = false
            //set the svg 
            restArrow.setAttribute("d","M18 15l-6-6-6 6")
        }else{
            restTimer.style.display = "contents"
            timerDisplayed = true
            restArrow.setAttribute("d", "M6 9l6 6 6-6")
        }
    })

    let pastworkoutsDisplayed = false
    pastWorkoutShowButton.addEventListener("click",function(e){

        if(pastworkoutsDisplayed){
            //close it 
            pastWorkouts.style.display = "None"
            pastworkoutsDisplayed = false
            pastWorkoutArrow.setAttribute("d", "M6 9l6 6 6-6")
        }else{
            pastWorkouts.style.display = "contents"
            pastworkoutsDisplayed = true
            pastWorkoutArrow.setAttribute("d","M18 15l-6-6-6 6")
        }

    })

    closeTimer.addEventListener("click", function(e){
        timerDialog.close()
    })

    let timerInterval;
    let isPaused = false;
    //var timeRested = 0

    startTimer.addEventListener("click",function(e){

        let restTime = timerSelect.value * 60
        
        function countDown(){
            if(timeRested < restTime ){
                timeRested += 1
                //console.log("Timer time = ",restTime - timeRested)
                timerDisplay.innerText = restTime -timeRested
            }else{
                clearInterval(timerInterval)
                timerInterval = undefined
                timeRested = 0
                console.log("Timer finished")
                changeButtonDisplay(e.target,"Start")
            }
        }

        function startCountdown(){
            timerInterval = setInterval(countDown,1000)
        }

        //if its defined then its already started 
        if(timerInterval){
            if(isPaused){
                //chenge the 
                timerInterval = setInterval(countDown,1000)
                isPaused = false;
                changeButtonDisplay(e.target,"Pause")
            }else{
                //pause the timer
                clearInterval(timerInterval)
                isPaused = true
                changeButtonDisplay(e.target,"Start")
            }
            
        }else{
            startCountdown()
            changeButtonDisplay(e.target,"Pause")
        }

    })

    endTimer.addEventListener("click", function(e){
        if(timerInterval){
            clearInterval(timerInterval)
            //clear the time display 
            timerDisplay.innerText = ""
            timeRested = 0
            isPaused = false
            changeButtonDisplay(startTimer,"Start")
            timerInterval = undefined
        }
    })

    function changeButtonDisplay(button,newValue){
        button.innerHTML = newValue
    }



</script>
{% endblock scripts %}