{% extends 'base.html' %}
{% block title %}
    Add Workout
{% endblock title %}

{% if errors %}
    {{errors}}
{% endif %}

{% block content %}
{% if current_user%}
    <h3>Welcome {{current_user.username}}</h3>
{% endif %}

<h4>Current workout</h4>
<h1>Workout</h1>

    <form id="workout-form" action="/add-workout" method="post">
        <input type="hidden" name="type" value="weights">
        <label for="date">Date:</label>
        <input type="datetime-local" name="date" id="date" required>
        <br>
        <label for="name">Workout name:</label>
        <input type="text" name="workout-name" id="workout-name" required>
        <br>
        <label for="category">Category</label>
        <select name="category" id="workout-category">
            <option value="chest">Chest</option>
            <option value="back">Back</option>
            <option value="shoulders">Shoulders</option>
            <option value="legs">Legs</option>
            <option value="core">Core</option>
            <option value="arms">Arms</option>
        </select>
        <br>
        <br>
        <label for="movements">Movements:</label>
        <br>
        
        <select name="weight-format" id="weight-format" class="movement-input" >
            <option value="kg">kg</option>
            <option value="lb">lb</option>
            <option value="bw">BW</option>
        </select>
        <label for="movement">Movement: </label>
        <input type="text" class="movement-input" id="movement" maxlength="20" minlength="3" size="12">
        <button id="add_movementbutton">Add Movement</button>
        <span id="warning"></span>
        <br>
        <!-- the wrapper for the movments. filled mainly by javascript -->
        <div class="" id="movements-wrapper">
            <div class="" id="repsSets-wrapper">
            </div>
        </div>
        <label for="effort">Effort: </label>
        <select name="effort" id="workout-effort" class="movement-input">
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
            <option value="too_hard">Too hard</option>
        </select>
        <br>
        <input type="submit" value="Submit">
        <br>
    </form>

    <button id="timer-show" type="button">Rest timer</button>
    <dialog id="timer-dialog">
        <label for="interval">Interval (minutes):</label>
        <br>
        <select name="rest-duration-select" id="rest-duration-select">
            <option value="1" selected >1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
        </select>
        <button id="start-timer">Start</button>
        <button id="end-timer">X</button>
        <br>
        <span id="rest-timer-display"></span>
        <br>
        <button id="rest-close">Close</button>
    </dialog>

{% endblock  %}

{% block scripts %}
<script>

    let movementsList = []

    let weightCount = 0;

    let movements = 0;
    // i may need some sort of state for the count of movements and reps&sets 
    let movementsWrapper = document.getElementById("movements-wrapper")

    let movementNameInput = document.getElementById("movement")

    let repssetsWrapper = document.getElementById("repsSets-wrapper")
    
    let addMovementButton = document.getElementById("add_movementbutton")

    let weightFormat = document.getElementById("weight-format")

    var timerShowButton = document.getElementById("timer-show")
    var closeTimer = document.getElementById("rest-close")
    var timerDialog = document.getElementById("timer-dialog")

    var startTimer = document.getElementById("start-timer")
    var endTimer = document.getElementById("end-timer")
   // var pauseTimer = document.getElementById("pause-timer")

    var timerSelect = document.getElementById("rest-duration-select")
    var timerDisplay = document.getElementById("rest-timer-display")

    addMovementButton.addEventListener("click",function(e){
        event.preventDefault()

        let movementName = movementNameInput.value.trim()
        console.log(movementName)
        if(movementName != ""){

            //check for the  name in the list 
            if(!movementsList.includes(movementName)){
                //add it to list if it doesnt exist 
                movementsList.push(movementName)
                addMovement(movementName)
            }else{
                
                displayWarning("Name already taken")
                
                re(()=>{
                    displayWarning("")
                },2000)
                return
            }  
            
        }else{
            displayWarning("Name cant be blank")
            setTimeout(()=>{
                displayWarning("")
            },2000)
            return
        }

        movementNameInput.value = ""


    })


    function addMovement(name){

        movements = movements +1

        //create the new form element 
        //add it to the workout form as a child 
        let nameLabel = document.createElement("input")
        nameLabel.setAttribute("name","movement")
        nameLabel.id = name
        nameLabel.value = name
        nameLabel.className = "movement-input"
        nameLabel.classList.add("movement-name-label")
        nameLabel.readOnly = true
        nameLabel.size = 10

        // a div for it all to go into 
        let setsWrapper = document.createElement("div")
        setsWrapper.id = "sets-wrapper"

        //add reps button
        let addSetsbutton = document.createElement("button")
        addSetsbutton.innerHTML = "Add set"
        addSetsbutton.id = "addsetbutton"
        addSetsbutton.className = "movement-input"
        

        let removeMovementButton = document.createElement("button")
        removeMovementButton.innerHTML = "X"
        removeMovementButton.className = "movement-input"

        //div for the movements
        let movementWrapper = document.createElement("div")
        movementWrapper.id = name
        movementWrapper.className = "movement-wrapper"

       movementWrapper.append(nameLabel)
       //movementWrapper.append(movementNameInput)
       movementWrapper.append(addSetsbutton)
       movementWrapper.append(removeMovementButton)
       movementWrapper.append(document.createElement("br"))
       movementWrapper.append(setsWrapper)

       movementsWrapper.append(movementWrapper)

        //make sure the input isnt blank so i can pass the movement name onto the sets id
        addSetsbutton.addEventListener("click",function(e){
            event.preventDefault()
            addrepsandsets(setsWrapper,name)                
        })

        removeMovementButton.addEventListener("click",function(e){
            console.log(event.target.parentElement.id)
            event.target.parentElement.remove()
            //remove from the namesList 
            console.log(movementsList)
            let index = movementsList.indexOf(event.target.parentElement.id)
            console.log(index)
            if(index > -1){
                movementsList.splice(index,1)
            }
            console.log(movementsList)

        })

        
    }

    function addrepsandsets(wrapper,movementName){

        console.log(movementName)
        weightCount = weightCount + 1

        //create the new form element 
        //add it to the workout form as a child 
        let weightLabel = document.createElement("label")
        weightLabel.setAttribute("name","Weight:")
        weightLabel.innerText = "Weight:"

        let repsLabel = document.createElement("label")
        repsLabel.setAttribute("name","Reps:")
        repsLabel.innerText = "Reps:"

        let weightInput = document.createElement("input")
        let repsInput = document.createElement("input")
    
        weightInput.name = movementName + "_weight"
        weightInput.className = "setinput"
        //check weight format
        if(weightFormat.value == "bw"){
            weightInput.type = "text"
            weightInput.value = "BW"
            weightInput.readOnly = true
        }else{
            //weightInput.name = movementName + "_weight"
            weightInput.type = "number"
            weightInput.placeholder = weightFormat.value
            weightInput.required = true
            //weightInput.className = "setinput"
        }
       

        repsInput.name = movementName +"_reps"
        repsInput.type = "number"
        repsInput.placeholder = "Reps"
        repsInput.required = true 
        repsInput.className = "setinput"

        //remove button 
        let removeSetButton = document.createElement("button")
        removeSetButton.innerHTML = "X"

        // a div for it all to go into 
        let setWrapper = document.createElement("div")
        setWrapper.id = "set-wrapper"

        setWrapper.appendChild(weightLabel)
        setWrapper.appendChild(weightInput)
        setWrapper.appendChild(repsLabel)
        setWrapper.appendChild(repsInput)
        setWrapper.appendChild(removeSetButton)
        setWrapper.appendChild(document.createElement("br"))

        wrapper.append(setWrapper)

        weightInput.focus()

        weightInput.addEventListener('keydown',function(e){
            if(e.key == "Escape"){
                event.target.parentElement.remove()
            }
        })

        repsInput.addEventListener('keydown',function(e){
            
            console.log(e.key)
            if(e.keyCode == 9){
                event.preventDefault()

            }else if(e.key == "Enter"){
                event.preventDefault()
            
                let parentElement = this.parentElement.parentElement
                console.log(this.parentElement.parentElement)
                //addSetButton.getElementById("addsetbutton").focus()
                addrepsandsets(parentElement,movementName)
                
            }else if(e.key == "Escape"){
                event.target.parentElement.remove()
            }else{
                this.innerText = e.key
            }
        })

        removeSetButton.addEventListener("click",function(e){
            event.preventDefault()
            event.target.parentElement.remove()
        })

    }

    function displayWarning(message){
        let warningText = document.getElementById("warning")
        warningText.innerText = message
    }

    //rest timer 

    timerShowButton.addEventListener("click", function(e){
        timerDialog.showModal()
    })

    closeTimer.addEventListener("click", function(e){
        timerDialog.close()
    })

    let timerInterval;
    let isPaused = false;
    var timeRested = 0

    startTimer.addEventListener("click",function(e){

        let restTime = timerSelect.value * 60
        
        function countDown(){
            if(timeRested < restTime ){
                //restTime -= 1
                timeRested += 1
                console.log("Timer time = ",restTime - timeRested)
                timerDisplay.innerText = restTime -timeRested
            }else{
                clearInterval(timerInterval)
                timerInterval = undefined
                timeRested = 0
                console.log("Timer finished")
                changeButtonDisplay(e.target,"Start")
            }
        }

        function startCountdown(){
            timerInterval = setInterval(countDown,1000)
        }

        //if its defined then its already started 
        if(timerInterval){
            if(isPaused){
                //chenge the 
                timerInterval = setInterval(countDown,1000)
                isPaused = false;
                changeButtonDisplay(e.target,"Pause")
            }else{
                //pause the timer
                clearInterval(timerInterval)
                isPaused = true
                changeButtonDisplay(e.target,"Start")
            }
            
        }else{
            startCountdown()
            changeButtonDisplay(e.target,"Pause")
        }

    })

    endTimer.addEventListener("click", function(e){
        if(timerInterval){
            clearInterval(timerInterval)
            //clear the time display 
            timerDisplay.innerText = ""
            timeRested = 0
            isPaused = false
            changeButtonDisplay(startTimer,"Start")
            timerInterval = undefined
        }
    })

    function changeButtonDisplay(button,newValue){
        button.innerHTML = newValue
    }



</script>
{% endblock scripts %}