{% extends 'base.html' %}
{% block title %}
    Contact
{% endblock title %}

{% if errors %}
    {{errors}}
{% endif %}

{% block content %}
    <h1>Contact</h1>

    <p>
    Hi there!

    If you need assistance with your account, have a question, or want to request a new feature, 
    I’d love to hear from you! Feel free to reach out via email at davidlilley359@gmail.com , and I’ll get back to you as soon as possible.

    Your feedback helps improve Momentum, so don’t hesitate to share your thoughts!

    Looking forward to your message.
    </p>
    <h2>Email: davidlilley359@gmail.com</h2>

{% endblock  %}

{% block scripts %}
    
{% endblock scripts %}