{% extends 'base.html' %}
{% block title %}
Create entry
{% endblock title %}

{% if errors %}
{{errors}}
{% endif %}

{% block content %}
{% if current_user.is_authenticated %}


{% endif %}
<h1>Meal information</h1>
<span id="warning"></span>
<div id="meal-main-wrapper">        


    <form id="meal-entry-form">
        <div class="meal-input" id="name-input-wrapper">
            <h2 for="entryName">Meal Name:</h2>
            <input type="text" name="entryName" id="meal-name-input" required min="4" max="50">
        </div>
        <div class="meal-input" id="datetime-wrapper">
            <h2>Date & Time:</h2>
            <input style="font-size: larger;" type="datetime-local" name="date" id="datetime">
        </div>

        <div class="meal-input" id="name-input-wrapper">
            <h3 for="entryName">Component Name:</h3>
            <input type="text" name="entryName" id="entry-name" required min="4" max="50">
        </div>

        <div class="meal-input" id="calories-input-wrapper">
            <h3 for="calories">Calories:</h3>
            <input class="macroInput" type="number" id="calorieInput" name="calories" min="0" step="0.01" required
                placeholder="Kcal" >
                <input class="clearMacroButton" type="button" value="x">
        </div>
        <h4 id="macroHeader">Macros:</h4>

        <div id="macro-input-wrapper">
            <div>
                <label for="protein">Protein:</label>
                <input max="999" class="macroInput" type="number" id="proteinInput" name="protein" min="0" step="0.01" value="0" >
                <input class="clearMacroButton " type="button" value="x">
            </div>
            <div>
                <label for="fats">Fat:</label>
                <input  class="macroInput" type="number" id="fatsInput" name="fats" min="0" max="999" step="0.01" value="0" > 
                <input class="clearMacroButton " type="button" value="x">
            </div>
            <div>
                <label for="carbs">Carbs:</label>
                <input class="macroInput" type="number" id="carbsInput" name="carbs" min="0" step="0.01" value="0" >
                <input class="clearMacroButton " type="button" value="x">
            </div>
            <div>
                <label for="fibre">Fibre:</label>
                <input class="macroInput" type="number" id="fibreInput" name="fibre" min="0" step="0.01" value="0" >
                <input class="clearMacroButton " type="button" value="x">
            </div>
            <button id="resetMacrosButton" class="nav-button" >Reset</button>
        </div>
        <br>
       
    </form>
    <br>
 
    <div id="calculator-modal">
        <button class="nav-button" id="useCalcButton">Calculator<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path id="pw-arrow-path" d="M18 15l-6-6-6 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg></button>

        <input type="text" name="calcResult" id="calcResult" readonly>

        <div id="calcButtons">
            <div id="calc-tr" class="calc-button-row">
                <input type="button" value="7" class="calc-button">
                <input type="button" value="8" class="calc-button">
                <input type="button" value="9" class="calc-button">
                <input type="button" value="x" class="calc-button operand-button">
            </div>
            <div id="calc-mr" class="calc-button-row">
                <input type="button" value="4" class="calc-button">
                <input type="button" value="5" class="calc-button">
                <input type="button" value="6" class="calc-button">
                <input type="button" value="-" class="calc-button operand-button">
            </div>
            <div id="calc-br" class="calc-button-row">
                <input type="button" value="1" class="calc-button">
                <input type="button" value="2" class="calc-button">
                <input type="button" value="3" class="calc-button">
                <input type="button" value="+" class="calc-button operand-button">
            </div>
            <div class="calc-button-row">
                <input type="button" value="X" class="calc-button">
                <input type="button" value="0" class="calc-button">
                <input type="button" value="." class="calc-button">
                <button value="/" class="calc-button operand-button"> &#247;</button>
            </div>
            <input id="sum-button" type="button" value="=" class="calc-button">
            <input id="use-button" type="button" value="use result" class="calc-button button-disabled" disabled>
        </div>

        <!-- <button id="closeCalc">Close</button> -->
    </div>
</div>
<div id="component-list-controls">
    <button style="max-width:fit-content;"  class="nav-button" id="addComponentButton">Add Meal Component</button>
    <button style="max-width:fit-content;" class="nav-button" id="clearComponentList">Clear Components</button>
</div>

<div id="meal-components-wrapper">
    
</div>
<hr>

<button class="nav-button" id="submit">Submit</button>
<div id="help-wrapper">
    <h4>Help:</h4>
    <a id="help-modal-link" href="#">What are components? <img id="modal-icon" src="{{ url_for('static', filename='icons/modal_icon_v2.svg') }}" width="15px" alt="" srcset=""></a>
    <a id="help-modal-link-calc" href="#">How do i use the calculator?<img id="modal-icon" src="{{ url_for('static', filename='icons/modal_icon_v2.svg') }}" width="15px" alt="" srcset=""></a>
    <dialog id="help-modal">
        <h3>What are meal components? </h3>
        <p>"Think of meal components as the individual foods that make up your plate. Instead of
            'Chicken Stir-fry,' log 'Chicken,' 'Broccoli,' and 'Rice' separately for better insights."
        </p>
        <button id="close-modal">X</button>
    </dialog>
    <dialog id="calc-help-modal">
        <h3>How to use the calculator</h3>
        <p>
            The calculator is useful for finding the total calories or macro values for an ingredient.
            <br> 
            Here's how it works:
            <br>
            <span class="help-step">Example:</span> You have 169 grams of chicken breast, which has 1.65 calories per gram.
            <br>
            <span class="help-step">Step 1:</span> Select the input field you want to fill (e.g., the calories field).
            <br>
            <span class="help-step">Step 2:</span> Use the calculator to find the total value (1.65 x 169).
            <br>
            <span class="help-step">Step 3:</span> Click the "Use result" button to automatically insert the total into your selected field.
        </p>
        <button id="calc-close-modal">X</button>
    </dialog>
</div>

{% endblock %}

{% block scripts %}

<script>

    const now = new Date();
    const localISOTime = now.toISOString().slice(0,16); // YYYY-MM-DDTHH:MM
    var mealDate = document.getElementById('datetime')
    mealDate.value = localISOTime;

    var submitMeal = document.getElementById("submit")
    var mealNameInput = document.getElementById("meal-name-input")

    var calcModal = document.getElementById("calculator-modal")
    var showCalc = document.getElementById("showCalc")
    var closeCalc = document.getElementById("closeCalc")

    var calcInput = document.getElementById("calcResult")

    var calcButtons = document.getElementsByClassName("calc-button")
    var calcButtonsWrapper = document.getElementById("calcButtons")

    var clearButtons = document.getElementsByClassName("clearMacroButton")

    var useReultButton = document.getElementById("use-button");

    var addComponentButton = document.getElementById("addComponentButton")
    var macroInputs = document.getElementsByClassName("macroInput")
    var componentName = document.getElementById("entry-name")

    var componentsWrapper = document.getElementById("meal-components-wrapper")

    var resetMacrosButton = document.getElementById("resetMacrosButton")

    var calcDisplay = 0;

    var left;
    var right;

    var operand = undefined;
    var operandChosen = false;
    var calcButtonClick = false

    var usingCalculator = false;
    var useCalcButton = document.getElementById("useCalcButton")
    let restArrow = document.getElementById("pw-arrow-path")

    //listenfor blur toset to 0
    Array.from(macroInputs).forEach(input => {
        input.addEventListener("blur",()=>{
            if(input.value.trim() == "" || isNaN(Number(input.value))){
                input.value = 0
            }
        })
    })

    //collapse/hide by default 
    calcInput.style.display = "none"
    calcButtonsWrapper.style.display = "none"

    useCalcButton.addEventListener("click", function(event){
        //flip the status 
        usingCalculator = !usingCalculator
        //show the calculator 
        if(!usingCalculator){
            calcInput.style.display = "none"
            calcButtonsWrapper.style.display = "none"
            Array.from(macroInputs).forEach(input => {
                input.readOnly = false;
            })
            //set the svg arrow 
            restArrow.setAttribute("d","M18 15l-6-6-6 6")
            
        }else{
            calcInput.style.display = "flex"
            calcButtonsWrapper.style.display = "flex"
            Array.from(macroInputs).forEach(input => {
                input.readOnly = true;
            })
            restArrow.setAttribute("d", "M6 9l6 6 6-6")
        }
    })


    var globalResult = 0;

    var mealComponents = []

    Array.from(calcButtons).forEach(btn =>{
        btn.addEventListener("click", () => {
            
            calcButtonClick = true

            console.log(event.target.value)
            let value = event.target.value;

            //check for the operator buttons 
            switch (value) {
                case "x":
                    console.log("Multiply")
                    operand = "x"
                    if (left && operand) {
                        calcInput.value = left + operand
                    }
                    break
                case "-":
                    console.log("Subtract")
                    operand = "-"
                    if (left && operand) {
                        calcInput.value = left + operand
                    }
                    break
                case "+":
                    console.log("Addition")
                    operand = "+"
                    if (left && operand) {
                        calcInput.value = left + operand
                    }
                    break
                case "/":
                    console.log("Division")
                    operand = "/"
                    if (left && operand) {
                        calcInput.value = left + operand
                    }
                    break
                case "=":
                    console.log("Sum")
                    //perform sum 
                    if (left && right && operand) {
                        console.log(`left ${left} :: right ${right} :: op ${operand}`)
                        let calculation = calculate(left, right, operand)
                        console.log("CALCULATION = ", calculation)
                        //clear old calculation 
                        left = undefined
                        right = undefined
                        operand = undefined

                        //clear the ui input
                        calcInput.value = ""
                        //put the value in the calculation 
                        //as the new left operand ? 
                        left = calculation;
                        calcInput.value = left
                        //clear calculator (maybe close the modal too)
                        //clearCalc()

                        //set global result 
                        globalResult = calculation

                    }
                    break
                case "X":
                    clearCalc()
                    break

                default:
                    //put the numerical value in the input 
                    if (right) {
                        calcDisplay = Number(calcDisplay + value)
                        right = Number(calcDisplay)
                    } else if (operand) {

                        calcDisplay = 0
                        calcDisplay = Number(calcDisplay + value)
                        right = Number(calcDisplay)

                    } else {
                        calcDisplay = Number(calcDisplay + value)
                        left = Number(calcDisplay)
                    }

                    console.log("Calc result = ", calcDisplay)

                    if (left && right && operand) {
                        calcInput.value = left + operand + right
                    } else if (left) {
                        calcInput.value = left
                    } else if (left && operand) {
                        calcInput.value = left + operand
                    }

                    break

            }
        })

        btn.addEventListener("blur", function(){
            calcButtonClick = false
        })
    })


    function clearCalc() {
        calcInput.value = ""
        calcDisplay = 0
        left = undefined
        right = undefined
        operand = undefined
    }

    function calculate(left, right, operand) {
        let result = 0
        switch (operand) {
            case "x":
                result = Number(left) * Number(right)
                return result
                break
            case "-":
                result = Number(left) - Number(right)
                return result
                break
            case "+":
                result = Number(left) + Number(right)
                console.log("RESULT = ", result)
                return result
                break
            case "/":
                result = Number(left) / Number(right)
                return result
                break
        }
    }

    Array.from(clearButtons).forEach(btn => {
        btn.addEventListener("click", ()=>{
            console.log("clear event ",btn.previousElementSibling)
            btn.previousElementSibling.value = 0

        })
    })

    //THIS IS FROM GEMINI
    let lastFocusedInput;

    // Store the last focused input when an input field receives focus
    document.querySelectorAll('input[type="number"]').forEach(input => {
        input.addEventListener('focus', function(){
            //remove the 0 placeholder
            input.value = ""
            //prevent deefault to stop the iunput coming up 
            lastFocusedInput = input;

            //the below doesnt work because its numeric input only ??
            //calcInput = lastFocusedInput
            lastFocusedInput.style.backgroundColor = 'lightblue'
            
            useReultButton.classList.remove("button-disabled")
            useReultButton.disabled = false
        });
        
        input.addEventListener('blur',function(){
            //console.log("Calc button click ",calcButtonClick)
            //maybe check there is a result first ? 
            useReultButton.classList.add("button-disabled")
            
            if(!calcButtonClick){
                
                console.log("Calc button click WHITE ",calcButtonClick)
                lastFocusedInput.style.backgroundColor = 'white'
               
            }else{
                console.log("Calc button click OTHER ",calcButtonClick)

            }
            //calcButtonClick = false
        })

    });



    // When the calculation is complete in your calculator modal:
    function handleCalculationResult(result) {
        if (lastFocusedInput) {
            
            lastFocusedInput.value = result;
        }
    }

    //assigns the last calculation result to the last selected input 
    function assignCalculationResult(result){
        if (lastFocusedInput) {
            lastFocusedInput.value = result;
        }
    }

    
    //enable the button if there is a last focused input 
    if(!lastFocusedInput){
        //useReultButton.classList.toggle("button-disabled")
    }

   useReultButton.addEventListener("click",function(){
        //check for the presence of a result
        if(globalResult > 0){
            //use the result in the last selected input 
            console.log("Assigning result:",globalResult, " to ",lastFocusedInput)
            lastFocusedInput.value = globalResult
            //clear global result 
            globalResult = 0
        }else if(calcInput.value != "" || calcInput.value != "0"){
            //use the calinput value instead 
            let tempValue = calcInput.value
            //check for the presence of an operand and remove it  
            if(!/^\d*$/.test(tempValue)){
                tempValue = tempValue.replace(/\D/g, '');
            }
            //TODO: sort out the negative values 

            //use the temp value 
            lastFocusedInput.value = tempValue
        }
        
        //clear the calc results
        clearCalc()
        //toggle the button after the result is used 
        useReultButton.disabled = true

    })


    addComponentButton.addEventListener("click", function(event){
        
        //check the value of the inputs 
        if(componentValueCheck()){

            //create new component object 
            var component = {}
            //get the component name 
            //check the name content, duplicates in the list, empty, etc
            component.name = componentName.value
            
            //loop over macro inputs and get the values into a JSON OBJECT
            Array.from(macroInputs).forEach(element =>{
                component[element.name] = element.value
            })
            //?HOW will i get the name, loop over each element and grab the name attribute ??
            console.log("Component : ", component)
            
            //check the name
            //this should probably be a try and exception 
            if(checkComponentName(component.name)){
                //show a warning 
                displayWarningForTime("Component already exists",2000)
            }else{
                //do theother  stuff 
                
                //add to the list of components 
                mealComponents.push(component)
                console.log("Component LIST : ", mealComponents)
                
                //clear the old UI list 
                componentsWrapper.innerHTML = ""
                mealComponents.forEach(component =>{
                    addComponentUI(component)
                })
            }

        }

    })

    function componentValueCheck(){
        //check the name input 
        if(componentName.value == ""){
            //flash a warning 
                displayWarning("Component must have a name")
                setTimeout(()=>{
                    displayWarning("")
                },2000)
                return false;
        } 
        //check the macro input values
        //for  this to work better i need to ensure there is a "0" in the input 
        //this serves as a indicator of an  issue for the bottom if block, like a flag ?
        let macroIssueMessage = ""
        Array.from(macroInputs).forEach(input =>{
            if(input.value == ""){
                macroIssueMessage = input.name + " must have a value"
                displayWarning(macroIssueMessage)
                setTimeout(()=>{
                    displayWarning("")
                },2000)
            }
        })

        //check for the presence of the message because returning false from foreach is iffy
        if(macroIssueMessage != ""){
            return false;
        }
        return true;
    }
    

    //add UI element for the list 
    function addComponentUI(component){

        //take in the JSON and create an element for it 
        var componentDiv = document.createElement("div")
        componentDiv.classList.add("component")
        componentDiv.id = component.name // this can be used to remove the UI element i think 

        var removeComponentButton = document.createElement("button")
        removeComponentButton.innerText = "X"
        removeComponentButton.addEventListener("click", function(event){
            //this is probably a terrible way to do this 
            console.log(this.parentElement.parentElement)
            //remove the UI element
            // OR would it be better to clear the whole thing and just build from the list state ??
            //get the id 
            let elementid = this.parentElement.parentElement.id //this may get fucky with spaces in the name ? 
            mealComponents.forEach(component =>{
                
                if(component.name == elementid){
                    console.log("Removing : " , component.name)
                    let index = mealComponents.indexOf(component)
                    mealComponents.splice(index,1)
                    this.parentElement.parentElement.remove()
                }

            })
        })

        var editComponentButton = document.createElement("button")
        editComponentButton.innerText = "Edit"
        editComponentButton.addEventListener("click",  function(event){
            //put the  components elements back into the inputs 
            let editDiv = this.parentElement.parentElement.querySelector(".editComponentDiv")
            if(editDiv.style.display == "none"){

                editDiv.style.display = "flex"
            }else{
                editDiv.style.display = "none"

            }
        })

        //wrap the remove and edit in a div 
        var componentControlsDiv = document.createElement("div")
        componentControlsDiv.classList.add("component-controls-wrapper")
        componentControlsDiv.appendChild(editComponentButton)
        componentControlsDiv.appendChild(removeComponentButton)


        // to make it easier for editing im going to make the list a list of drop downs with inputs that 
        //corespond with the component data 
        var name = document.createElement("input")
        name.id = component.name+"-"+"name"
        name.classList.add("component-edit-input")
        name.value = component.name

        var calories = document.createElement("input")
        calories.id = component.name+"-"+"calories"
        calories.classList.add("component-edit-input")
        calories.value = component.calories
        
        var protein = document.createElement("input")
        protein.id = component.name+"-"+"protein"
        protein.classList.add("component-edit-input")
        protein.value = component.protein

        var fats = document.createElement("input")
        fats.id = component.name+"-"+"fats"
        fats.classList.add("component-edit-input")
        fats.value = component.fats

        var carbs = document.createElement("input")
        carbs.id = component.name+"-"+"carbs"
        carbs.classList.add("component-edit-input")
        carbs.value = component.carbs

        var fibre = document.createElement("input")
        fibre.id = component.name+"-"+"fibre"
        fibre.classList.add("component-edit-input")
        fibre.value = component.fibre
        //do they need labels ? 
        var nameLabel = document.createElement("label")
        var calLabel = document.createElement("label")
        var proteinLabel = document.createElement("label")
        var fatsLabel = document.createElement("label")
        var carbsLabel = document.createElement("label")
        var fibreLabel = document.createElement("label")

        nameLabel.innerText = "Name:"
        calLabel.innerText = "Calories:"
        proteinLabel.innerText = "Protein:"
        fatsLabel.innerText = "Fats:"
        carbsLabel.innerText = "Carbs:"
        fibreLabel.innerText = "Fibre:"


        componentDiv.innerHTML = "<span class='component'>" + component.name+ "<br>"+"Kcal:" +component.calories+"</span>"
        //componentDiv.appendChild(removeComponentButton)
        componentDiv.appendChild(componentControlsDiv)

        //add the labels and inputs to a seperate div that is not shown ? 
        var editingDiv = document.createElement("div")
        editingDiv.classList.add("editComponentDiv")  
        editingDiv.appendChild(nameLabel)
        editingDiv.appendChild(name)

        editingDiv.appendChild(calLabel)
        editingDiv.appendChild(calories)

        editingDiv.appendChild(proteinLabel)
        editingDiv.appendChild(protein)

        editingDiv.appendChild(fatsLabel)
        editingDiv.appendChild(fats)
        
        editingDiv.appendChild(carbsLabel)
        editingDiv.appendChild(carbs)

        editingDiv.appendChild(fibreLabel)
        editingDiv.appendChild(fibre)

        //set thedisplay to none 
        editingDiv.style.display = "none"
        

        //add the edit div to the main div 
        componentDiv.appendChild(editingDiv)

        //add it to the UI wrapper 
        componentsWrapper.appendChild(componentDiv)
        clearInputs()

        //not sure this is in the correct place 
        var editInputs = document.getElementsByClassName("component-edit-input")
        Array.from(editInputs).forEach(input => {
            input.addEventListener("change",function(event){
                //parse the component name from the ID 
                let parts = this.id.split('-')
                let componentName = parts[0]
                let valueName = parts[1]
                let value = this.value
                //find that component then update the relvent value
                console.log("Component being edited = ",parts[0]) 
                console.log("Component value being edited = ",parts[1]) 
                updateComponentValue(componentName,valueName,value)
            })
        })

    }

    function updateComponentValue(componentName,valueName,value){
        mealComponents.forEach(component =>{
            if(component.name == componentName){
                component[valueName] = value
            }
        })
        console.log("Updated component list : ",mealComponents)
    }

    
    //clear inputs after adding a meal coponent
    function clearInputs(){
        
        componentName.value = ""
        Array.from(macroInputs).forEach(input =>{
            //could check for the kcal input so it goed back to the "kcal" placeholder 
            input.value = "0"
        })
    }

    function displayWarning(message){
        let warningText = document.getElementById("warning")
        warningText.innerText = message
    }

    var clearListButton = document.getElementById("clearComponentList")
    clearListButton.addEventListener("click",function(event){
        //remove all from list 
        mealComponents = []
        //clear the UI 
        componentsWrapper.innerHTML = ""

    })

    submitMeal.addEventListener("click",function(event){
        //get the name for the entire meal 
        let mealName = mealNameInput.value
        //check the and length 
        if(mealName.length > 3){

            //check the length of the components list 
            if(mealComponents.length > 0){
                var mealData = {
                    name:mealName,
                    components:mealComponents,
                    dateTime:mealDate.value
                }

                fetch('{{url_for("api_createMeal")}}',{
                    method:'POST',
                    headers:{
                        'Content-Type':'application/json'
                    },
                    body: JSON.stringify(mealData)
                })
                .then(response => response.json())
                .then(result => {
                    console.log("Success: ",result)
                })
                .catch(error =>{
                    console.log("Error: ",error)
                })
            }else{
                displayWarning("meal needs to have at least 1 component")
                setTimeout(()=>{
                    displayWarning("")
                },2000)
            }

        }else{
                displayWarning("meal needs to have a name")
                setTimeout(()=>{
                    displayWarning("")
                },2000)
        }
    })

    function displayWarningForTime(message,time = 1000){
        displayWarning(message)
        setTimeout(()=>{
            displayWarning("")
        },time)
    }

    //reset the macro ionputs back to zero
    function resetMacroInputs(){
            Array.from(macroInputs).forEach(input => {
                input.value = 0
            })
    }

    resetMacrosButton.addEventListener("click",function(event){
        event.preventDefault()
        resetMacroInputs()
    })

    function checkComponentName(componentName){
        //does this really need to  be in here ? 
        return mealComponents.some(component => component.name === componentName)

    }


    let helpButton = document.getElementById("help-modal-button")

    let helpLink = document.getElementById("help-modal-link")
    let helpDialog =  document.getElementById("help-modal")
    let closeModal = document.getElementById("close-modal")

    helpLink.addEventListener("click", function(event){
        helpDialog.showModal()
    })

    closeModal.addEventListener("click",function(event){
        helpDialog.close()
    })

    let helpLinkCalc = document.getElementById("help-modal-link-calc")
    let helpDialogCalc =  document.getElementById("calc-help-modal")
    let closeModalCalc = document.getElementById("calc-close-modal")

    helpLinkCalc.addEventListener("click", function(event){
        helpDialogCalc.showModal()
    })

    closeModalCalc.addEventListener("click",function(event){
        helpDialogCalc.close()
    })




</script>

{% endblock scripts %}