{% extends 'base.html' %}
{% block title %}
    Home page
{% endblock title %}


{% block content %}
<h1>Welcome to Momentum, the workout tracking app</h1>

{% if current_user.is_authenticated %}
    <div id="logging-nav" class="nav-card-wrapper">
        <h3>Track</h3>
        <div class="card-links">
            <div class="card-link">
                <a href="{{url_for('addWorkout')}}"><img src="{{ url_for('static', filename='icons/dumbell_icon.svg') }}" alt="" width="60"></a> 
                <a href="{{url_for('addWorkout')}}">Workout</a> 
            </div>

            <div class="card-link">
                <a href="{{url_for('createEntry')}}"><img src="{{ url_for('static', filename='icons/food_icon1.svg') }}" alt="" width="60"></a> 
                <a href="{{url_for('createEntry')}}">Meal</a> 
            </div>

            <div class="card-link">
                <a href="{{url_for('waterEntry')}}"><img src="{{ url_for('static', filename='icons/waterLogo.svg') }}" alt="" width="60"></a> 
                <a href="{{url_for('waterEntry')}}">Water</a> 
            </div>
        </div>
    </div>

    <div id="profile-nav" class="nav-card-wrapper">
        <h3>View</h3>
        <div class="card-links">
            <a href="{{url_for('viewMeals')}}">Meals</a> 
            <a href="{{url_for('viewWorkouts')}}">Workouts</a>
            <a href="#">Profile</a>
        </div>
    </div>
{% endif %}
        

{% endblock  %}

{% block scripts %}
    
{% endblock scripts %}