{% extends 'base.html' %}
{% block title %}
    Home page
{% endblock title %}


{% block content %}
<!-- <h1>Welcome to Momentum, the workout tracking app</h1> -->

{% if current_user.is_authenticated %}
    <div id="logging-nav" class="nav-card-wrapper">
        <h2>Track</h2>
        <div class="card-links">
            <div class="card-link">
                <a href="{{url_for('addWorkout')}}"><img src="{{ url_for('static', filename='icons/dumbell_icon.svg') }}" alt="" width="100"></a> 
                <a class="card-subject-link" href="{{url_for('addWorkout')}}">Workout</a> 
            </div>
            
            <div class="card-link">
                <a href="{{url_for('createMealEntry')}}"><img src="{{ url_for('static', filename='icons/food_icon1.svg') }}" alt="" width="100"></a> 
                <a class="card-subject-link" href="{{url_for('createMealEntry')}}">Meal</a> 
            </div>

            <div class="card-link">
                <a href="{{url_for('waterEntry')}}"><img src="{{ url_for('static', filename='icons/waterLogo.svg') }}" alt="" width="100"></a> 
                <a class="card-subject-link" href="{{url_for('waterEntry')}}">Water</a> 
            </div>
        </div>
    </div>

{% endif %}
        

{% endblock  %}

{% block scripts %}
    
{% endblock scripts %}