{% extends 'base.html' %}
{% block title %}
    Profile
{% endblock title %}

{% if errors %}
    {{errors}}
{% endif %}

{% block content %}
{% if current_user%}
    <h3>Welcome {{current_user.username}}</h3>
    {% if dashboard %}
        
    <div id="dashboard-wrapper">
        <h2>Your Progress</h2>

        <div id="dash-category-wrapper">
            
            <div class="dashboard-category" id="dash-workout">
                <h3>Last workout</h3>
                <div>
                    {{dashboard.workouts[0].name}}
                    <br>
                    <span>{{dashboard.workouts[0].dateTime.strftime('%A')}}</span>
                    <br>
                    <span class="dash-fulldate">({{dashboard.workouts[0].dateTime.strftime('%d-%m-%y')}})</span>
                </div>
            </div>

            <div class="dashboard-category" id="dash-meal">
                <h3>last Meal Entry</h3>
                {{dashboard.meals[1].name}}
                <br>
                Kcal:{{dashboard.meals[1].data.calories}}
                <br>
                <span id="dash-meal-day">{{dashboard.meals[1].date.strftime('%A')}}</span>
                <br>
                <span class="dash-fulldate" id="dash-meal-date">({{dashboard.meals[1].date.strftime('%d-%m-%y')}})</span>  
            </div>

            <div class="dashboard-category" id="dash-water">
                <h3>Last water entry</h3>
                <br>
                Amount: {{dashboard.water.amount}}ml
                <br>
                <span id="dash-water-day">{{dashboard.water.date.strftime('%A')}}</span>
                <br>
                <span class="dash-fulldate" id="dash-water-date">({{dashboard.water.date.strftime('%d-%m-%y')}})</span>  

            </div>

        </div>
    </div>
    {% endif %}

    <nav id="user-nav">
        <div class="profile-nav-category" id="workout-create">
            <h4>Workouts</h4>
            <div>
                <h5 id="add-workouts-title">Add workout:</h5>
                <div id="add-workouts-nav">
                    <a href="{{url_for('addWorkout')}}">Weights</a> 
                    <a href="{{url_for('addWorkoutOther')}}">Other</a> 
                </div>
            </div>
            <a href="{{url_for('viewWorkouts')}}">View workouts</a>
        </div>
        <div class="profile-nav-category" id="meal-nav">
            <h4>Meals</h4>
            <div>
                <a href="{{url_for('createEntry')}}">Add meal</a> 
                <a href="{{url_for('viewMeals')}}">View Meals</a> 
            </div>
        </div>
        <div class="profile-nav-category" id="meal-nav">
            <h4>Water</h4>
            <div>
                <a href="{{url_for('waterEntry')}}">Track Water</a> 

            </div>
        </div>
    </nav>
    <br>

{% endif %}

{% if workoutObjects %}
    {% for workout in workoutObjects %}
    
    <br>
        {{workout.dateTime}}
        <br>
        <span id="workout-name">{{workout.name}} </span>
         <br>
        {% if workout.zippedSets %}
            {% for set in workout.zippedSets %}
                <span id="movement-name">{{set[0]}}</span>
                <br>
                {% for reps in set[1] %}
                    {{reps[0]}}kg for {{reps[1]}} reps
                {% endfor %}
                <br>
            {% endfor %}
        {% endif %}

        {% if workout.duration %}
            {{workout.duration}} minutes
        {% endif %}

        <a href="{{url_for('viewWorkout', workout_id=workout.workout_id) }}">View workout</a>

    {% endfor %}
{% endif %}

<div>
    
    <a href="/profile/settings">Manage profile settings</a>
</div>

{% endblock  %}

{% block scripts %}
    
{% endblock scripts %}