{% extends 'base.html' %}
{% block title %}
    Login
{% endblock title %}

{% block content %}
<h1>Reset Password </h1>
<br>
{% if errors %}
    {{errors}}
{% endif %}
<br>
<form action="/updatePassword" method="post">
    {{form.hidden_tag()}}
    {{form.email.label}} {{form.email()}}
    <br>
    {{form.password.label}} {{form.password()}}
    <br>
    {{form.submit()}}
</form>

{% endblock  %}

{% block scripts %}

<script>
        //this code changes the way the URL is formatted so the confirm endpoint can actualy use it
        // Extract fragment parameters from the URL
        const hash = window.location.hash.substring(1);
        const params = new URLSearchParams(hash);

    // Get the access token and type
        const accessToken = params.get('access_token');
        const type = params.get('type');

        // Redirect to the server with query parameters
        if (accessToken && type) {
          window.location.href = `/updatePassword?access_token=${accessToken}&type=${type}`;
        } else {
          // Handle error or display a message
          //document.body.innerHTML = '<h1>Invalid or expired confirmation link</h1>';
        }
      </script>
    
    
{% endblock scripts %}