{% extends 'base.html' %}
{% block title %}
    Workouts
{% endblock title %}

{% if errors %}
    {{errors}}
{% endif %}

{% block content %}

<h2>Your workouts</h2>
{% if workoutObjects %}
    {% for workout in workoutObjects %}
    
    <br>
        <span class="workout-day">{{workout.dateTime.strftime('%A')}}</span>
        <br>
        <span class="workout-date">{{workout.dateTime.strftime('%d/%m/%y')}}</span>
        <br>
        <span class="workout-name">{{workout.name|capitalize}} </span>
         <br>
        {% if workout.zippedSets %}
            {% for set in workout.zippedSets %}
                <span id="movement-name">{{set[0]}}</span>
                <br>
                {% for reps in set[1] %}
                    {% if reps[0] == "BW" %}
                        {{reps[0]}} for {{reps[1]}} reps
                    {% else %}
                    {{reps[0]}}kg for {{reps[1]}} reps
                    {% endif %}
                {% endfor %}
                <br>
            {% endfor %}
        {% endif %}

        {% if workout.duration %}
            {{workout.duration}} minutes
        {% endif %}

        <a href="{{url_for('viewWorkout', workout_id=workout.workout_id) }}">View workout</a>
        <hr>
    {% endfor %}
{% endif %}

{% endblock  %}

{% block scripts %}
    
{% endblock scripts %}