{% extends 'base.html' %}
{% block title %}
    Macro entries
{% endblock title %}

{% if errors %}
    {{errors}}
{% endif %}

{% block content %}
{% if current_user%}
    <h3>Welcome {{current_user.username}}</h3>
    <nav id="user-nav">
        <a class="nav-button" href="{{url_for('createMealEntry')}}">Add meal</a> 
    </nav>
{% endif %}

<div id="search">
    <form action="/search" method="post">
        <label for="search-date">Date</label>
        <input type="date" name="search-date" id="search-date">
    </form>
</div>

{% if aggregates %}
    {% for entry in aggregates %}
    <div class="dropdown-wrapper">
        <h5>{{entry.entry_date}}</h5>
        <button class="dropdown-button">View</button>
        <div class="dropdown-content">
         
            {% for entry in entry.aggregated_data %}
            <div class="entry-wrapper">
                <span class="entry-title" id="entry-name">{{entry.entry_data.name}}</span>
                {% if entry.entry_data['components'] %}
                    <span style="font-weight: bold;">Componentss</span>
                    <div class="entry-data-wrapper">
                        {% for component in entry.entry_data.components %}
                            {% for key in component %}
                                <div class="entry-data">{{key}} : {{component[key]}}</div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}
                
                <a href="{{url_for('editMeal',meal_id=entry.entry_id)}}">Edit</a>
            </div>
            {% endfor %}
            
        </div>
    </div>
    <br>
    {% endfor %}
{% endif %}



{% endblock  %}

{% block scripts %}
<script>

    var dropdownButtons = document.querySelectorAll(".dropdown-button")

    dropdownButtons.forEach(function(element){
        element.addEventListener("click",function(event){
            //get the parent wrapper div 
            var parent = event.target.parentElement;
            //get the child content div 
            var content = parent.querySelectorAll(".dropdown-content")[0]
            
            content.classList.toggle("show")
        })
    })





</script>
    
{% endblock scripts %}