{% extends 'base.html' %}
{% block title %}
    Macro entries
{% endblock title %}

{% if errors %}
    {{errors}}
{% endif %}

{% block content %}
{% if current_user%}
    <h3>Welcome {{current_user.username}}</h3>
    <nav id="user-nav">
        <a class="nav-button" href="{{url_for('createMealEntry')}}">Add meal</a> 
    </nav>
{% endif %}

<div id="search">
    <form action="/search" method="post">
        <label for="search-date">Date</label>
        <input type="date" name="search-date" id="search-date">
    </form>
</div>

{% if aggregates %}
    {% for entry in aggregates %}
    <div class="dropdown-wrapper">
        <h5>{{entry.entry_date}}</h5>
        <button class="dropdown-button">View</button>
        <div class="dropdown-content">
         
            {% for entry in entry.aggregated_data %}
            <div class="entry-wrapper">
                <span class="antry-data" id="entry-name">{{entry.entry_data.name}}</span>
                {% if entry.entry_data['components'] %}
                    Components 
                    {% for component in entry.entry_data.components %}
                        {% for key in component %}
                            {{key}} : {{component[key]}}
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                {#
                {% for thing in entry.entry_data %}
                
                {% if entry.entry_data['components'] %}
                {% for component in entry.entry_data['components'] %}
                cmpt {{component}}
                {% endfor %}
                {% endif %}
                {% endfor %}
                #}

                {% if entry.components %}
                <h5>meal components</h5>
                    {% for component in entry.components %}
                        {% for key in component %}
                           {{key}} :: {{component[key]}}
                           <br>
                        {% endfor %}
                        <hr>
                    {% endfor %}
                    
                {%else%}
                    {% for key in entry %}
                    <span class="macro-key entry-data">{{key}}: {{entry[key]}}</span>
                    {% endfor %}
                {% endif %}
                <a href="{{url_for('editMeal',meal_id=entry.entry_id)}}">Edit</a>
            </div>
            {% endfor %}
            
        </div>
    </div>
    <br>
    {% endfor %}
{% endif %}

<h3>Meal entries</h3>
{% if entries %}
    {% for entry in entries %}
    <h3>{{entry.entry_name}} </h3>
    {% set entry_date = entry.created %}
    <h5>{{entry_date}}</h5>
        {% for key in entry.entry_data %}
            {{key}} ::
            {{entry.entry_data[key]}}
            <br>
        {% endfor %}
        <a href="{{url_for('deleteMealEntry',entry_id=entry.entry_id)}}">Delete meal</a>
        <hr>
    {% endfor %}
{% endif %}

{% if totalCals %}
    {% for date in totalCals %}
        <h4>{{date.entry_date}}</h4>
        Kcal: {{date.total_value}}
    {% endfor %}

{% endif %}


{% endblock  %}

{% block scripts %}
<script>

    var dropdownButtons = document.querySelectorAll(".dropdown-button")

    dropdownButtons.forEach(function(element){
        element.addEventListener("click",function(event){
            //get the parent wrapper div 
            var parent = event.target.parentElement;
            //get the child content div 
            var content = parent.querySelectorAll(".dropdown-content")[0]
            
            content.classList.toggle("show")
        })
    })



</script>
    
{% endblock scripts %}