{% extends 'base.html' %}
{% block title %}
    Macro entries
{% endblock title %}

{% if errors %}
    {{errors}}
{% endif %}

{% block content %}

<form id="water-entry-form" action="/waterEntry" method="post">
    <label for="amount">Amount (ml):</label>
    <input type="number" name="amount" id="water-input" min="100" required >
    <br>
    <label for="date">Date:</label>
    <input type="datetime-local" id="date" name="date" required>
    <input class="nav-button" type="submit" value="Submit">
</form>

<h3>Water entries</h3>
{% if entries %}
    {% for entry in entries %}
        <form action="" method="post">
            <label for="water-date">Date: </label>
            <span id="water-date" >{{entry.entry_data['date']}}</span>
            <br>
            <label for="water-amount">Amount(ml): </label>
            <span id="water-amount">{{entry.entry_data['amount']}}</span>
            <br>
            <a href="{{url_for('deleteWaterEntry', entry_id=entry.entry_id)}}">Delete</a>
            <a href="{{url_for('editWater', entry_id=entry.entry_id)}}">Edit</a>
            <hr>
        </form>
    {% endfor %}
{% endif %}

{% if totalCals %}
    {% for date in totalCals %}
        <h4>{{date.entry_date}}</h4>
        Kcal: {{date.total_value}}
    {% endfor %}

{% endif %}


{% endblock  %}

{% block scripts %}
<script>
    // Get today's date in the format 'YYYY-MM-DD'
    const today = new Date().toISOString().split('T')[0];
    // Set the default value of the date input
    document.getElementById('date').value = today;
    //what about dates in the future ?
    //do i allow that ?

    //get the date and amount span 


</script>
    
{% endblock scripts %}